<div class="body">
    <form (ngSubmit)="searchPerson()" #f="ngForm">
        <p>Search for Clearance</p>
        <div>
            <label for="emirateId">Emirate ID</label>
            <input type="text" [(ngModel)]='eId' name="emirateId" required #eid="ngModel">
        </div>
        <div class="error" *ngIf="eid.errors?.required">
            Emirate ID is required.
        </div>
        <button class="btn" type="submit" [disabled]="!f.valid">Search</button>
    </form>
    <div>
        <button class="btn" (click)="createOtherClearance()">Create Other Clearance </button> <br>
        <button class="btn" (click)="viewClearance()">View Clearance</button><br>
        <button class="btn" (click)="newClearance()">New Clearance</button>
    </div>

</div>