<h3>Marriage Data</h3>

<form [formGroup]="form" (submit)="submit()" #f="ngForm">
  <mat-card>
    <mat-list>
      <mat-list-item>
        <mat-label> Maried Before : </mat-label>
        <mat-radio-group
          [(ngModel)]="personData.marriedBefore"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-radio-button
            class="example-margin"
            *ngFor="let op of statusOptions"
            [checked]="op.checked"
            [value]="op.value"
            (change)="radioChange($event)"
            >{{ op.name }}</mat-radio-button
          >
        </mat-radio-group>
      </mat-list-item>
      <div *ngIf="personData.marriedBefore == 'y'">
        <div class="card-body" formArrayName="contacts">
          <div
            class="col-6"
            *ngFor="let contact of contactFormGroup.controls; let i = index"
          >
            <div [formGroupName]="i" class="row">
              <mat-list-item>
                <mat-form-field>
                  <mat-label>Marriage Date</mat-label>
                  <input
                    matInput
                    type="date"
                    formControlName="marriageDate"
                    required
                  />
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field>
                  <mat-label>Mariage Place</mat-label>
                  <input
                    matInput
                    matInputclass="form-control"
                    formControlName="marriagePlace"
                    type="text"
                    required
                  />
                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                <mat-form-field>
                  <mat-label>Priest Name</mat-label>
                  <input
                    matInput
                    matInputclass="form-control"
                    formControlName="priestFather"
                    type="text"
                    required
                  />
                </mat-form-field>
              </mat-list-item>
              <mat-list-item>
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <mat-select
                    name="mariageStatus"
                    formControlName="status"
                   
                  >
                    <mat-option
                      *ngFor="let status of mariageStatus"
                      [value]="status.value"
                    >
                      {{ status.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                <mat-form-field>
                  <mat-label>Kind Of Marriage</mat-label>
                  <input
                    matInput
                    matInputclass="form-control"
                    formControlName="kindOfMarriage"
                    type="text"
                    required
                  />
                </mat-form-field>
              </mat-list-item>

              <mat-list-item>
                <!-- <button mat-button type="button" (click)="removeRow(i)"> Remove</button> -->
                <button
                  mat-button
                  type="button"
                  (click)="addRow(i)"
                  [disabled]="!showSaveBtn[i] || !showAddRowBtn[i]"
                >
                  Add Row
                </button>
                <button
                  mat-button
                  type="button"
                  (click)="save(i)"
                  [disabled]="!form.valid || showSaveBtn[i]"
                >
                  Save
                </button>
              </mat-list-item>
            </div>
          </div>
        </div>
      </div>
      <mat-list-item>
        <button mat-button type="button" (click)="back()">Back</button>
        <button
          mat-button
          class="btn btn-success m-1"
          [disabled]="personData.marriedBefore== 'y' && !activateNextBtn"
          type="submit"
        >
          Next
        </button>
      </mat-list-item>
      <label class="required-field" *ngIf="!f.valid && personData.marriedBefore == 'y'">* Indicates required field.</label>
    </mat-list>
  </mat-card>
</form>
