<h3>Engagement Data</h3>

<form [formGroup]="form" (submit)="submit()" #f="ngForm">
  <mat-card>
    <mat-list>
      <mat-list-item>
        <mat-label> Engaged Before : </mat-label>
        <mat-radio-group
          [(ngModel)]="personData.engagedBefore"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-radio-button
            class="example-margin"
            *ngFor="let op of statusOptions"
            [checked]="op.checked"
            [value]="op.value"
            (change)="radioChange($event)"
            >{{ op.name }}</mat-radio-button
          >
        </mat-radio-group>
      </mat-list-item>
      <div *ngIf="personData.engagedBefore == 'y'">
        <div class="card-body" formArrayName="contacts">
          <div class="row">
            <div
              class="col-6"
              *ngFor="let contact of contactFormGroup.controls; let i = index"
            >
              <div [formGroupName]="i" class="row">
                <mat-list-item>
                  <mat-form-field>
                    <mat-label>Engage Date</mat-label>

                    <input
                      matInput
                      type="date"
                      formControlName="engageDate"
                      matInput
                      required
                    />
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <mat-label>Engage Place</mat-label>
                    <input
                      matInput
                      class="form-control"
                      formControlName="engagePlace"
                      type="text"
                      required
                    />
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <mat-label>Priest Name</mat-label>
                    <input
                      matInput
                      class="form-control"
                      formControlName="PriestName"
                      type="text"
                      required
                    />
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-label>Attach 1 *</mat-label>
                  <input
                    type="file"
                    (change)="onFileChanged1($event)"
                    formControlName="engAttach"
                    required
                  />
                </mat-list-item>
                <mat-list-item>
                  <mat-label>Attach 2 *</mat-label>
                  <input
                    type="file"
                    (change)="onFileChanged2($event)"
                    formControlName="anulAttach"
                    required
                  />
                </mat-list-item>

                <mat-list-item>
                  <!-- <button mat-button type="button" (click)="removeRow(i)"> Remove</button> -->
                  <button
                    mat-button
                    type="button"
                    (click)="addRow(i)"
                    [disabled]="!showSaveBtn[i] || !showAddRowBtn[i]"
                  >
                    Add Row
                  </button>
                  <button
                    mat-button
                    type="button"
                    (click)="save(i)"
                    [disabled]="!form.valid || showSaveBtn[i]"
                  >
                    Save
                  </button>
                </mat-list-item>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-list-item>
        <button mat-button type="button" (click)="back()">Back</button>
        <button
          mat-button
          class="btn btn-success m-1"
          [disabled]="personData.engagedBefore == 'y' && !activateNextBtn"
          type="submit"
        >
          Next
        </button>
      </mat-list-item>
      <label class="required-field" *ngIf="!f.valid && personData.engagedBefore == 'y'">* Indicates required field.</label>
    </mat-list>
  </mat-card>
</form>

