<form action="">
    <table>
        <tr>
            <td>
                Engagement 
            </td>
            <td>
                <mat-radio-group >
                    <mat-radio-button class="example-margin" value="y">yes</mat-radio-button>
                    <mat-radio-button class="example-margin" value="n">No</mat-radio-button>
                </mat-radio-group>
            </td>
            <td><button>add row</button></td>
        </tr>
        <tr>

        </tr>
    </table>
</form>