<h3>Engagement Data </h3>

<label for=""> Engaged Before : </label>
<mat-radio-group>
    <mat-radio-button class="example-margin" value="y">Yes</mat-radio-button>
    <mat-radio-button class="example-margin" value="n">No</mat-radio-button>
</mat-radio-group>
<form [formGroup]="engageForm">
    <button (click)="addNewRow()">Add New Row</button>
    <div formArrayName="engageDataArr" *ngFor="let data of engageDataArr.controls; let i=index">
        <label>Engage Date {{i+1}}</label>
        <input type="text" [formControlName]="i">
    </div>
    <button type="button" (click)="back()">Back</button><br>
    <button type="button" (click)="next()">Next</button>


</form>