<h3>Clearance Data</h3>
<mat-card>

    <mat-list>
        <mat-list-item>
            <mat-label class="labelText">Name : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.personalData.name}} </mat-label>
        </mat-list-item>

        <mat-list-item>
            <mat-label class="labelText">EmirateId : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.personalData.emirateId}} </mat-label>
        </mat-list-item>
        <mat-list-item>
            <mat-label class="labelText">BirthDate : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.personalData.birthDate}} </mat-label>
        </mat-list-item>

        <mat-list-item>
            <mat-label class="labelText">Birth Location : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.personalData.birthLocation}} </mat-label>
        </mat-list-item>
        <mat-list-item>
            <mat-label class="labelText">Education : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.personalData.education}} </mat-label>
        </mat-list-item>
        <mat-list-item>
            <mat-label class="labelText">Address -  عنوان: </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.address}} </mat-label>
        </mat-list-item>

        <mat-list-item>
            <mat-label class="labelText">Clearance church - من كنيسه : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.church.churchNameEn}} </mat-label>
        </mat-list-item>

        <mat-list-item>
            <mat-label class="labelText">fatherOfConfession -  اب الاعتراف: </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.fatherOfConfession}} </mat-label>
        </mat-list-item>

        <mat-list-item>
            <mat-label class="labelText">job -  العمل: </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.job}} </mat-label>
        </mat-list-item>
        <mat-list-item>
            <mat-label class="labelText">From church - من كنيسه : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.fromChurch}} </mat-label>
        </mat-list-item>

        <mat-list-item>
            <mat-label class="labelText">social Status - الحاله الاجتماعيه : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.socialStatus}} </mat-label>
        </mat-list-item>

        <mat-list-item>
            <mat-label class="labelText">Gender - النوع  : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.gender}} </mat-label>
        </mat-list-item>
 
        <mat-list-item>
            <mat-label class="labelText">Job -  عنوان: </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.job}} </mat-label>
        </mat-list-item>

        <mat-list-item>
            <mat-label class="labelText">job Address -  عنوان: </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.jobAddress}} </mat-label>
        </mat-list-item>
        

        <mat-list-item>
            <mat-label class="labelText">isPreviousEngagement -  خطوبه سابقه: </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.isPreviousEngagement}} </mat-label>
        </mat-list-item>

        <mat-list-item>
            <mat-label class="labelText">isPreviousMarriage -  زواج سابق: </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.isPreviousMarriage}} </mat-label>
        </mat-list-item>
        <mat-list-item>
            <mat-label class="labelText">HaveChildern - لديه اطفال : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.isHaveChildern}} </mat-label>
        </mat-list-item>

        <mat-list-item>
            <mat-label class="labelText">num Of Childern - عدد الاطفال : </mat-label>
            <mat-label class="labelValue"> {{this.clearanceData.numOfChildern}} </mat-label>
        </mat-list-item>
        <button mat-button type="button" (click)="back()" >Back</button>
        <button mat-button class="btn red" (click)="testRedirect()"> test</button>
    </mat-list>


</mat-card>