<h3>Personal Data 1</h3>
<mat-card>
  <form (ngSubmit)="next()" #f="ngForm">
    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Emerates ID - رقم الهويه</mat-label>
          <input
            matInput
            name="eid"
            type="text"
            id="eid"
            required
            class="label"
            [readonly]="true"
            [(ngModel)]="personData.emirateId"
            #eid="ngModel"
          />
        </mat-form-field>

        <!-- <div class="error" *ngIf="eid.errors?.required">
          EID is required.
        </div> -->
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label>Name - الاسم الثلاثي</mat-label>

          <input
            matInput
            type="text"
            name="name"
            required
            class="label"
            [(ngModel)]="personData.name"
            #name="ngModel"
          />
        </mat-form-field>

        <!-- <div class="error" *ngIf="name.errors?.required">
          Required field.
        </div> -->
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Birth Date - تاريخ الميلاد</mat-label>

          <input
            matInput
            type="date"
            name="birthDate"
            [(ngModel)]="personData.birthDate"
            matInput
            required
            #birthDate="ngModel"
          />
        </mat-form-field>
        <!-- <div class="error" *ngIf="birthDate.errors?.required">
          Required field.
        </div> -->
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Place Of Birth - مكان الميلاد </mat-label>

          <input
            matInput
            name="placeOfBirth"
            type="text"
            class="label"
            [(ngModel)]="personData.placeOfBirth"
            required
            #placeOfBirth="ngModel"
          />
        </mat-form-field>
        <!-- <div class="error" *ngIf="placeOfBirth.errors?.required">
          Required field.
        </div> -->
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Baptism Date - تاريخ العماد</mat-label>

          <input
            matInput
            type="date"
            name="baptismDate"
            [(ngModel)]="personData.baptismDate"
            matInput
            required
            #baptismDate="ngModel"
          />
        </mat-form-field>
        <!-- <div class="error" *ngIf="baptismDate.errors?.required">
          Required field.
        </div> -->
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>place Of Baptism - مكان العماد</mat-label>

          <input
            matInput
            name="placeOfBaptism"
            type="text"
            class="label"
            [(ngModel)]="personData.placeOfBaptism"
            required
            #placeOfBaptism="ngModel"
          />
        </mat-form-field>
        <!-- <div class="error" *ngIf="placeOfBaptism.errors?.required">
          Required field.
        </div> -->
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>education Qualification -المؤهل</mat-label>

          <input
            matInput
            name="edQualification"
            type="text"
            class="label"
            [(ngModel)]="personData.edQualification"
            required
            #edQualification="ngModel"
          />
        </mat-form-field>
        <!-- <div class="error" *ngIf="edQualification.errors?.required">
          Required field.
        </div> -->
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Graduation Date تاريخ التخرج</mat-label>

          <input
            matInput
            type="date"
            name="graduateDate"
            [(ngModel)]="personData.graduateDate"
            matInput
            required
            #graduateDate="ngModel"
          />
        </mat-form-field>
        <!-- <div class="error" *ngIf="graduateDate.errors?.required">
          Required field.
        </div> -->
      </mat-list-item>
      <mat-list-item>
        <mat-label>Attache Picture </mat-label>
        <input type="file" (change)="onFileChanged($event)" required/>
        <!-- <button mat-button type="button" (click)="onUpload()">Upload</button> -->
      </mat-list-item>
      <mat-list-item>
        <button mat-button type="submit" [disabled]="!f.valid">Next</button>
      </mat-list-item>
    </mat-list>
  </form>
  <label class="required-field" *ngIf="!f.valid">* Indicates required field.</label></mat-card>
