<h3>Social Status</h3>
<mat-card>
  <form #f="ngForm">
    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <mat-label margin>Social Status</mat-label>
          <mat-select
            margin
            name="intake"
            [(ngModel)]="personData.socialStatus" required
          >
            <mat-option
              *ngFor="let status of socialStatus"
              [value]="status.viewValueEN"
            >
              {{ status.viewValueEN }} - {{ status.viewValueAR }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label>Source of permit Marriage</mat-label>
          <input
            matInput
            name="sourceOfPermitMarriage"
            type="text"
            class="label"
            [(ngModel)]="personData.sourceOfPermitMarriage"
            required
          />
        </mat-form-field>
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label for="dateOfPermitMarriage"
            >Date of permit Marriage</mat-label
          >
          <input
            matInput
            type="date"
            name="dateOfPermitMarriage"
            [(ngModel)]="personData.dateOfPermitMarriage"
            required
            #dateOfPermitMarriage="ngModel"
          />
        </mat-form-field>
      </mat-list-item>
      <mat-list-item  *ngIf="!clearancefromPrev">
        <button mat-button type="button" (click)="back()">Back</button>
        <button mat-button (click)="updateClearanceFinal()" [disabled]="!f.valid">Finish</button>
      </mat-list-item>
      <label class="required-field" *ngIf="!f.valid && !clearancefromPrev">* Indicates required field.</label>
    </mat-list>
  </form>
</mat-card>
