<form action="">
    <div margin class="card">
        <mat-label margin>Social Status</mat-label>
        <mat-select margin name="intake" [(ngModel)]='personData.socialStatus'>
            <mat-option *ngFor="let status of socialStatus" [value]="status.viewValueEN">
                {{status.viewValueEN}} - {{status.viewValueAR}}
            </mat-option>
        </mat-select>
    </div>

    <div margin card>
        <mat-label>Source of permit Marriage</mat-label>
        <input matInput name="sourceOfPermitMarriage" type="text" class="label"
            [(ngModel)]='personData.sourceOfPermitMarriage' required>
    </div>

    <div margin card>
        <mat-label for="dateOfPermitMarriage">Date of permit Marriage</mat-label>
        <input type="date" name="dateOfPermitMarriage" [(ngModel)]="personData.dateOfPermitMarriage"  required
            #dateOfPermitMarriage="ngModel">

    </div>
    <button mat-button type="button" (click)="back()">Back</button>
    <button mat-button (click)="updateClearanceFinal()">Finish</button>
</form>