
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */

@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
 /* @import "~@angular/material/prebuilt-themes/purple-green.css";  */


/* 
 input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #2991ab;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}



label{
  text-align: left;
  font-size: medium;
} */


.error {
  color: red;
}

.mat-button {
  background-color: #2991ab;
  color: white;
  padding: 14px 20px;
  margin: 10px 10px !important; 
  border: none;
  cursor: pointer;
}

.mat-button[disabled]{
  background-color: rgb(233, 233, 233);
}

mat-list-item{
  margin: 10px;
}

mat-card{
   max-width: 400px;
 }

 mat-form-field{
  min-width: 260px;
 }

 .required-field{
   color: red;
 }