<h3>Personal Data 2</h3>
<mat-card>
  <form (ngSubmit)="next()" #f="ngForm">
    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Address - العنوان</mat-label>
          <input
            matInput
            name="address"
            type="text"
            [(ngModel)]="personData.address"
            required
            #address="ngModel"
          />
        </mat-form-field>
              <!-- <div class="error" *ngIf="address.errors?.required">
                Required field.
              </div> -->
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label>Job Title - العمل </mat-label>
          <input
            matInput
            name="jobTitle"
            type="text"
            class="label"
            [(ngModel)]="personData.jobTitle"
            required
            #jobTitle="ngModel"
          />
        </mat-form-field>
              <!-- <div class="error" *ngIf="jobTitle.errors?.required">
                Required field.
              </div> -->
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label>Job Address - عنوان العمل </mat-label>
          <input
            matInput
            name="jobAddress"
            type="text"
            class="label"
            [(ngModel)]="personData.jobAddress"
            required
            #jobAddress="ngModel"
            />
        </mat-form-field>
                <!-- <div class="error" *ngIf="jobAddress.errors?.required">
                Required field.
              </div> -->
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label>Gender - الجنس</mat-label>

          <mat-select name="gender" [(ngModel)]="personData.gender" required>
            <mat-option *ngFor="let status of genders" [value]="status.value">
              {{ status.viewValueEN }} - {{ status.viewValueAR }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div class="error" *ngIf="personData.gender.errors?.required">
          Required field.
        </div> -->
      </mat-list-item>

      <mat-list-item *ngIf="personData.gender == 'male'">
        <mat-form-field>
          <mat-label>Military Status - الموقف من التجنيد </mat-label>

          <mat-select
            name="militaryStatus" required
            [(ngModel)]="personData.militaryStatus"
          >
            <mat-option
              *ngFor="let status of militaryStatus"
              [value]="status.value"
            >
              {{ status.viewValueEN }} - {{ status.viewValueAR }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label>From Church - الكنيسه التابع لها</mat-label>
          <input
            matInput
            name="relatedChurch"
            type="text"
            class="label"
            [(ngModel)]="personData.relatedChurch"
            required
            #relatedChurch="ngModel"
          />
        </mat-form-field>
              <!-- <div class="error" *ngIf="relatedChurch.errors?.required">
                Required field.
              </div> -->
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label>confession Rate - معدل الاعتراف </mat-label>

          <mat-select
            name="confessionRate" required
            [(ngModel)]="personData.recognitionRegularityRate"
          >
            <mat-option
              *ngFor="let status of confessionRate"
              [value]="status.value"
            >
              {{ status.viewValueEN }} - {{ status.viewValueAR }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label>Intake Rate - معدل التناول</mat-label>

          <mat-select name="intake" required [(ngModel)]="personData.intakeRate">
            <mat-option
              *ngFor="let state of confessionRate"
              [value]="state.value"
            >
              {{ state.viewValueEN }} - {{ state.viewValueAR }}
            </mat-option>
          </mat-select>
          <mat-label> </mat-label>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label>Father of confession - اب الاعتراف </mat-label>

          <input
            matInput
            name="fatherOfConfession"
            type="text"
            class="label"
            [(ngModel)]="personData.fatherOfConfession"
            required
            #fatherOfConfession="ngModel"
          />
        </mat-form-field>
        <!-- <div class="error" *ngIf="fatherOfConfession.errors?.required">
          Required field.
        </div> -->
      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-label>Church - الكنيسه</mat-label>

          <mat-select name="church" required [(ngModel)]="personData.churchId">
            <mat-option
              *ngFor="let church of churchList"
              [value]="church.churchId"
            >
              {{ church.churchNameEn }} - {{ church.churchNameAr }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item>
        <mat-label
          ><button mat-button type="button" (click)="back()">Back</button>
        </mat-label>
        <mat-label
          ><button mat-button type="submit" [disabled]="!f.valid">
            Next
          </button>
        </mat-label>
      </mat-list-item>
    </mat-list>
  </form>
  <label class="required-field" *ngIf="!f.valid">* Indicates required field.</label>
</mat-card>
